#root {
  font-family: sans-serif;
  width: 100%;
  
}
body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.login-form{
  margin: 0 auto;
  width:35%;
  padding: 1rem;
  margin-top: 50px;
}
.login-form button:hover{
 background-color: #000;
}